/*

CSS for mythoughtjot
by: Christopher Reynolds
2011

*/

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

#draggable {
	width: 200px;
	height:200px;
	background:#f4f4f4;
}
.head {
	background:#ccc;
	height:20px;
	width:100%;
	cursor:move;
}
.box {
	position: absolute;
	height: 98px;
	width: 98px;
	background: #CCF;
	border: 1px solid #AAD;
	text-align: center;
	font-size: 10px;
	}

* {
	margin:0;
	padding:0;
}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

/** General Style Info **/
body {
	background: url(../images/darkBack1.png) repeat; 
	font-family: Arial,Verdana,sans-serif;
	font-size:90%;
	margin:0;

}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
a {
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
	
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;

}
h1 {
	color: #ff7200;
	font-size: 200%;
}
h2 {
	color: #ff7200;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #FF7200;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #FF7200;
	font-weight: normal;
}

/** Layout **/
#wrapper{
	min-width:600px;
}
#leftCol {
	width:40px;
	float:left;
}

#rightCol {
	width:auto;
	margin-left:44px;
}

#container {
	text-align: left;
	margin: 0px auto;
	width:99%;
	border:6px #FF7C00 solid;
	background:#ff9D40;
	border-radius: 20px; 
}

#logincontent {
	background: url(../images/stripesBack.png) repeat;
	color: #333;
	padding: 0px 10px 10px 0px;
	min-height: 300px;
	padding-top: 20px;
	width:98%;
	margin: 0 auto;
}
#loginbox {
	width:400px;
	background:#F00;
	margin: 0 auto;
	border:2px #FF7C00 solid;
	border-bottom:#fff solid 2px;
		border-right:#fff solid 2px;
	background:#ff9D40;
	border-radius: 10px; 
}
.ltophead {
	background:#fff;
	border-radius: 10px;
	padding:10px 0 4px 20px;
}
.lbody {
	padding:20px;
}

/* Header */
#mainheader {
	border-radius: 10px 10px 10px 10px;
    height: 30px;
    padding: 5px;
    text-shadow: 1px 1px 1px #FFFFFF;    
    background:url(../images/headerBar.jpg) repeat-x #F1F1F1;
    border: 1px solid #FFFFFF;
    color: #6D6E6E;
}
#header{
	height:38px;
	color:#fff;
background: url("../images/stripedBackD.gif") repeat scroll 0 0 transparent;
	margin-bottom:2px;
	border-bottom: 1px #5B5B5B solid;
}
.logo {
	background:#fff;
	border-radius: 4px;
	padding:4px;
	border: 1px dashed #777777;
}
.logoImg {
	float:left;
	padding:2px;
	background:#fff;
	border-radius:4px;
}
#updateCol{
	padding: 2px;
	margin-bottom: 6px;
	float:right;
 	position: relative;
}
#header h1 {
	color:#fff;
	padding: 10px;
	margin-right:10px;
}
#header h1 a {
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}

#headerLeft {
	float:left;

}
.help {
	float:left;
	width:400px;
	background:#000;
	color:#fff;
	height:30px;
}
#coLeftHeader {
    border: 1px solid #5B5B5B;
    border-right:none;
    border-radius: 6px 0 0 6px;
    float: right;
    width:200px;
}
#coRightHeader {
	float:right;
    width:auto;
    height: 24px;
    margin-top:4px;
}
#coRightHeader li{
	position: relative;
	float:left;
	list-style:none;
	color:#fff;
	font-size:1.2em;
}
#coRightHeader a{
	display: block; 
	text-decoration: none; 
	color: #fff; 
	
	border-radius:6px;
	padding:4px;
}
#coRightHeader li a:hover{
	background: #fff;
	color: #22201d; 
}

/* Top Menu */
#mainmenu {
	width:auto;
	float:right;
}
#mainmenu  ul{
	margin: 0;
    position: relative;
 }
#mainmenu li {
	list-style: none; 
	display:block;
	float: left;
    width: auto;
	margin:0;
}
#mainmenu a {
	padding: 10px;
	text-decoration:none;
	line-height:28px;
}
#mainmenu a:hover {
}
.me {
	font-size:200%;
	color:#F30;
}
.others {
	font-size:120%;
}
.help {
	font-size:140%;
	margin-left:40px;
}
#slidenav { 
	background: url(../images/DarkBack2.png) repeat;
	padding:10px;
}
#slidenav ul {
	margin:0; 
	padding:0;
}
#slidenav li {
	list-style:none; 
	font-size: 1.6em; 
	font-weight: bold; 
	margin: 0px; 
}
#slidenav li a { 
	display: block; 
	text-decoration: none; 
	color: #fff; 
	line-height:40px; 	
	border-radius:6px;
	padding:4px;
}
#slidenav li a:hover { 
	background: #fff;
	color: #22201d; 
}

#slidenav .nsub { 
	padding:10px;
}
#slidenav .nsub li { 
	padding: 0; 
}
#slidenav .nsub li a { 
	line-height: 1.7em; 
}
#slidenav .nsub li a:hover { 
	color: #503316; 
	background: #fff; 
}

/* Content */
#content{
	color: #333;
	overflow: hidden;
}

/* Sidebar */
#sidebar {
	width:40px;
	float:left;
	height:100%;
	
}
#sidebar li {
	list-style:none;
	height: 30px;
}
#sidebar a {
	color:#fff;	
}
#sidebar a:hover {
	color:#f3d3a9;
}

#sidebar h1{
	color:#FFF;
}
#updatesTab li{
	font-size: 1.2em;
}
#updatesTab img{
	margin-left:-10px;
	float:left;
}
.update {
	border:solid 1px #ccc;
	border-radius: 4px;
	background: #fff;
	color:#22201D;
}
.updateLast a{
	color:#503316;
	margin-top:10px;
}
#buttons {
	background: url("../images/darkBack2.png") repeat scroll 0 0 transparent;
	width:40px;
	padding:4px 0 10px 0;
	border:solid 1px #5b5b5b;
	border-left:none;
	border-radius:0 4px 4px 0;
}
#buttons li {
	padding:4px;
	margin:0;
	cursor:pointer;

}
#toolbox {
	background:none;
	width:200px;
	height:250px;
	border-radius:4px;
	z-index: 10;
}
.toolWindow h1 {
	color:#ff8400;
	background: url("../images/DarkBack2.png") repeat;
	padding:10px;
}
.toolWindow {
	height:250px;
	width:200px;
	border:solid 1px #777;
	border-radius:4px;
	z-index:-10;
	position:absolute;
}
.toolWindow .clickable{
	float:right;
}
.toolWindow input{
	width:100px;
	cursor:text;
}
.inner {
	padding:4px;
	background:#f2f2f2;
	margin:4px;
	border-radius:4px;
	height:190px;
}
#drawingTools {

}
#textTools {

}
#shapeTools {

}
#tableTools {

}
#sharingTools {

}
#messagingTools {

}
#settings {
	
}

/* Canvas */
#canvas {
	width:auto;
	min-height:800px;
	background:#FFF url(../images/canvasNote.png) repeat;
	border:6px #c8c8c8 dashed;
	border-radius: 6px;
	padding:1px;
	margin-right:4px;
	cursor:crosshair;

}
#canvas2 {
		border:3px #c8c8c8 dashed;
		position:relative;
}

.test1 {
	cursor:pointer;
	width:100px;
	height:50px;
	padding:10px;
	background:#42bcca;
	color:#fff;
	border:2px solid #909090;
	border-radius: 6px;
	
}
.test4 {
	cursor:pointer;
	padding:10px;
	background:#42bcca;
	color:#fff;
	border:2px solid #909090;
	border-radius: 6px;
}
.newShape {
	cursor:pointer;
	width:150px;
	height:70px;
	padding:10px;
	background:#fb881b;
	color:#fff;
	border:2px solid #909090;
	border-radius: 10px;
	float:left;
}
.slideoutMenu {
    padding: 10px;
    width: 166px;
    background: #ccc;
    border: 2px solid #c8c8c8;
    float:right;
    border-radius: 0 0 0 6px;
}
.slideoutMenu h1 {
	font-size:16px;
	margin-top:20px;
}
.handle {
	background:#d46801;
	width:30px;
	height:100px;
	z-index:10;
	border-radius: 6px 0 0 6px;
}
.handle:hover {
	background:#e48429;
}
.slideoutMenu2 {
    padding: 10px;
    width: 166px;
    background: #ccc;
    border: 2px solid #c8c8c8;
    float:right;
    border-radius: 0 0 0 6px;
    z-index:10;
}
.slideoutMenu2 h1 {
	font-size:16px;
	margin-top:20px;
}
.handle2 {
	background:#2C62BF;
	width:30px;
	height:100px;
	z-index:10;
	border-radius: 6px 0 0 6px;
}
.handle2:hover {
	background:#5A88D6;
}
table {  border-collapse: collapse; }
td, th { 
   text-align: center; 
   border: 1px solid #ddd; 
   padding:2px 5px; 
   }
   
caption {margin: 0 0 .5em; font-weight: bold; }
/* page styles */
body { font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif; }
table {  border-collapse: collapse; }
td, th { 
   text-align: center; 
   border: 1px solid #ddd; 
   padding:2px 5px; 
   }
   
caption {margin: 0 0 .5em; font-weight: bold; }

/*demo styles*/
table {width: 500px; height: 200px; margin-left: 30px; }
table.accessHide { position: absolute; left: -999999px; }
td, th {  font-size: 1.2em; padding: 2px; width: 13%; }
th { background-color:#f4f4f4; } 
caption { font-size: 1.5em;  }
/*visualize extension styles*/
.visualize { margin: 60px 0 0 30px; padding: 70px 40px 90px; background: #222 url(../images/chartbg.png) top repeat-x; border: 1px solid #000; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
.visualize canvas { border: 1px solid #888; margin: -1px; background: #222; }
.visualize-labels-x, .visualize-labels-y { top: 70px; left: 40px; z-index: 100; }
.visualize-pie .visualize-labels { position: absolute; top: 70px; left: 40px; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { color: #aaa; font-size: 1.3em; padding-right: 5px; }
.visualize-labels-y li span.line { border-style: dotted;  opacity: .6; }
.visualize .visualize-info { border: 0; position: static;  opacity: 1; background: none; }
.visualize .visualize-title { position: absolute; top: 20px; color: #fff; margin-bottom: 0; left: 20px; font-size: 2.1em; font-weight: bold; }
.visualize ul.visualize-key { position: absolute; bottom: 15px; background: #444; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left: 0;  }
.visualize ul.visualize-key li { font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }
.visualize ul.visualize-key .visualize-key-color { width: 10px; height: 10px;  margin-top: -4px; }
.visualize ul.visualize-key .visualize-key-label { color: #fff;  }
/*plugin styles*/
.visualize { border: 1px solid #888; position: relative; background: #fafafa; }
.visualize canvas { position: absolute; }
.visualize ul,.visualize li { margin: 0; padding: 0;}

/*table title, key elements*/
.visualize .visualize-info { padding: 3px 5px; background: #fafafa; border: 1px solid #888; position: absolute; top: -20px; right: 10px; opacity: .8; }
.visualize .visualize-title { display: block; color: #333; margin-bottom: 3px;  font-size: 1.1em; }
.visualize ul.visualize-key { list-style: none;  }
.visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.visualize ul.visualize-key .visualize-key-color { width: 6px; height: 6px; left: 0; position: absolute; top: 50%; margin-top: -3px;  }
.visualize ul.visualize-key .visualize-key-label { color: #000; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #fff; font-weight: bold; font-size: 1em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; }
.visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #555;  }
.visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.visualize-labels-x li { height: 100%; }
.visualize-labels-x li span.label { top: 100%; margin-top: 5px; }
.visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.visualize-labels-y li { width: 100%;  }
.visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }


/* page styles */
body { font-size:62.5%; }

/*demo styles*/
table {width: 500px; height: 200px; margin-left: 30px; }
table.accessHide { position: absolute; left: -999999px; }
td, th {  font-size: 1.2em; padding: 2px; width: 13%; }
th { background-color:#f4f4f4; } 
caption { font-size: 1.5em;  }

/*visualize extension styles*/
.visualize { margin: 60px 0 0 30px; padding: 70px 40px 90px; background: #ccc url(../images/chartbg-vanilla.png) top repeat-x; border: 1px solid #ddd; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
.visualize canvas { border: 1px solid #aaa; margin: -1px; background: #fff; }
.visualize-labels-x, .visualize-labels-y { top: 70px; left: 40px; z-index: 100; }
.visualize-pie .visualize-labels { position: absolute; top: 70px; left: 40px; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { color: #444; font-size: 1.3em; padding-right: 5px; }
.visualize-labels-y li span.line { border-style: solid;  opacity: .7; }
.visualize .visualize-info { border: 0; position: static;  opacity: 1; background: none; }
.visualize .visualize-title { position: absolute; top: 20px; color: #333; margin-bottom: 0; left: 20px; font-size: 2.1em; font-weight: bold; }
.visualize ul.visualize-key { position: absolute; bottom: 15px; background: #eee; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left: 0;  }
.visualize ul.visualize-key li { font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }
.visualize ul.visualize-key .visualize-key-color { width: 10px; height: 10px;  margin-top: -4px; }
.visualize ul.visualize-key .visualize-key-label { color: #333; }

/* page styles */
body { font-size:62.5%; }

/*demo styles*/
table {width: 500px; height: 200px; margin-left: 30px; }
table.accessHide { position: absolute; left: -999999px; }
td, th {  font-size: 1.2em; padding: 2px; width: 13%; }
th { background-color:#f4f4f4; } 
caption { font-size: 1.5em;  }

/*visualize extension styles*/
.visualize { margin: 60px 0 0 30px; padding: 70px 40px 90px; background: #222 url(../images/chartbg.png) top repeat-x; border: 1px solid #000; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
.visualize canvas { border: 1px solid #888; margin: -1px; background: #222; }
.visualize-labels-x, .visualize-labels-y { top: 70px; left: 40px; z-index: 100; }
.visualize-pie .visualize-labels { position: absolute; top: 70px; left: 40px; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { color: #aaa; font-size: 1.3em; padding-right: 5px; }
.visualize-labels-y li span.line { border-style: dotted;  opacity: .6; }
.visualize .visualize-info { border: 0; position: static;  opacity: 1; background: none; }
.visualize .visualize-title { position: absolute; top: 20px; color: #fff; margin-bottom: 0; left: 20px; font-size: 2.1em; font-weight: bold; }
.visualize ul.visualize-key { position: absolute; bottom: 15px; background: #444; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left: 0;  }
.visualize ul.visualize-key li { font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }
.visualize ul.visualize-key .visualize-key-color { width: 10px; height: 10px;  margin-top: -4px; }
.visualize ul.visualize-key .visualize-key-label { color: #fff;  }






/* Toolbar */
#toolbar {
	border: 2px solid #ccc;
    border-radius: 6px;
}
.toolbarButton {
	cursor:pointer;
	width:40px;
}
.toolbarButton:hover {
	background:#fff;
}
.toolbarButton:active {
	background:#eeeeee;
	border-bottom: 1px solid #c4c4c4;
}

#draw {
	background:#F5F5F5 url("") no-repeat;
}
#shapes {
	background:#F5F5F5 url("") no-repeat;
}
#charts {
	background:#F5F5F5 url("") no-repeat;
}
#share {
	background:#F5F5F5 url("") no-repeat;
}
#magnify {
	background:#F5F5F5 url("") no-repeat;
}
#textbox {
	border :#FF7200 solid 2px;
	border-radius:4px;
	background:none;
	padding:10px;
	margin:2px;
}
#textbox_field {
	border :#FF7200 solid 2px;
	border-radius:4px;
	background:none;
	padding:10px;
}

/* Footer */
#footer {
	background:#464646;
	height:30px;
	color:#999;
	border-radius: 0 0 10px 10px; 
	width: 98%;
	margin: 0 auto;
	padding:5px;
}
#rightfooter {
	font-size:10px;
	height:30px;
	color:#999;

	padding:5px;
}

/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
}
#emailZone {
	border:1px solid #ddd;
	border-bottom:none;
}
.altrow {
	border:
}

th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
