#static_content {
	width: 960px;
	background: #fff;
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF #FF7C00 #FF7C00 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    margin: 5px auto;
}

#static_content #content {
	margin: 15px;
}

#static_content p {
	padding: 10px;
	font-size: 1.2em;
	line-height: 150%;
}

#static_content table {
	border: none;
	height: auto;
}

#static_content table tr th {
	border:1px solid #ddd;
	text-align: right;
	padding-right: 15px;
	background: #ffffff;
}

#static_content table tr:nth-child(2n) th {
	background: #f5f5f5;
}