{% extends 'djangoish_templates/base.html' %}

{% block title %}mythoughtjot{% endblock %}

{% block styles %}<link rel="stylesheet" href="{{ MEDIA_URL }}css/menustyles.css" type="text/css" media="screen" />{% endblock %}

{% block scripts %}   
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/menustyles.css" type="text/css" media="screen" />
 	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/pjs/processing-1.3.6.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/pjs/drawing.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/functions.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jQuery/jquery.isotope.min.js'></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jQuery/jqxcore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jQuery/jqxmenu.js"></script>		
	<script src="http://tab-slide-out.googlecode.com/files/jquery.tabSlideOut.v1.3.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/visualize/visualize.jQuery.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/visualize/enhance.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/visualize/editabletable.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}css/visualize/basic.css"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}css/visualize/visualize.css"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}css/visualize/visualize-dark.css"></script>
{% endblock %}

{% block content %}
<div id="wrapper">
  <div id="header">
	
              <div id="headerLeft">
				<h1 id="title">Welcome, User</h1>
			  </div>
        <div id="coRightHeader"> 
			<li>
                	<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Help</a></li>
				</ul>
            </li>
		</div> 
	</div>		<!-- end header-->
	
	<div id="leftCol">	
		<div id="sidebar">
            <div id='jqxMenu'>
            	
                <ul>
                	<li onclick="draw ()" ><img src="{{ MEDIA_URL }}images/pencil.png" alt=""></li>
                    <li onclick="addText()" ><img src="{{ MEDIA_URL }}images/text.png" alt=""></li>
                    <li> <img src="{{ MEDIA_URL }}images/shapes.png" alt="">
                    	<ul>
							<li onclick="drawRectangle()" >Rectangle</li>
							<li onclick="drawCircle()" >Circle</li>
							<li onclick="createShape ()" >Triangle</li>
							<li onclick="drawPoly ()" >Polygon</li>

						</ul>
                    </li>
                    <li> <img src="{{ MEDIA_URL }}images/charts.png" alt="">
                    	 <ul>
							<li onclick="createGraph ('table', 'This is my title', 'bar')" >Bar Graph</li>
							<li onclick="createGraph ('table', 'This is my title', 'line')" >Line Graph</li>
							<li onclick="createGraph ('table', 'This is my title', 'pie')" >Pie Graph</li>
							<li onclick="createGraph ('table', 'This is my title', 'area')" >Area Graph</li>

						</ul>
                    </li>
                    <li> <img src="{{ MEDIA_URL }}images/share.png" alt="">
  					
                    	 <ul><h2>Share</h2>
							<li onclick="shareCanvas ()" >Canvas</li>
							<li onclick="shareFacebook ()" >Facebook</li>
							<li onclick="shareTwitter ()" >Twitter</li>
							<li onclick="shareEmail ()" >Email</li>

						</ul>
                    </li>
                    <li><img src="{{ MEDIA_URL }}images/magnify.png" alt=""></li>
					<li><img src="{{ MEDIA_URL }}images/paper.png" alt="">
						<ul>
							<li onclick="changeCanvasBackground(1)" >Ruled</li>
							<li onclick="changeCanvasBackground(2)" >Graph</li>
							<li onclick="changeCanvasBackground(3)" >Sketch</li>
							<li onclick="changeCanvasBackground(4)" >Clean</li>
							<li onclick="changeCanvasBackground(5)" >Dark</li>
						</ul>
					</li>
     
                </ul>
            
        </div>

	</div> <!-- End Sidebar -->

 </div> <!-- end leftCol -->
 
 
<div id="rightCol">

		<div id="updateCol">

	
	<div id="coLeftHeader">
		
        <div class="slidedoutMenu">

           <section id="slidenav">

        <ul>
            <li class="nitem"><a href="#"><span></span> Me</a></li>
                <ul class="nsub">
                    <li><a href="#"><span></span> New Project <img src="{{ MEDIA_URL }}images/new.png"> </a></li>
                    <li><a href="#">Project 1</a></li>
                    <li><a href="#">Project 2</a></li>
                    <li><a href="#">Project 3</a></li>
                </ul>
            <li class="nitem"><a href="#"><span></span> Others</a></li>
                <ul class="nsub">
                    <li><a href="#">Project 1</a></li>
                    <li><a href="#">Project 2</a></li>
                    <li><a href="#">Project 3</a></li>
                </ul>
            <li class="nitem"><a href="#"><span></span> Who's doing what?</a></li>
                <ul class="nsub"  id="updatesTab">
                    <li class="update"><img src="{{ MEDIA_URL }}images/waht.png" width="25px" height="25px"><strong><span style="color:#bb6d21">Someone's Name</span></strong><br><span style="font-size:.9em">Updated a table on your canvas!</span>&#160;&#160;<span style="font-size:.8em;color:#a33600">&#60;14 sec ago&#62;</span></li>
                    <li class="update"><img src="{{ MEDIA_URL }}images/waht.png" width="25px" height="25px"><strong><span style="color:#bb6d21">Someone's Name</span></strong><br><span style="font-size:.9em">Edited a drawing on your canvas!</span>&#160;&#160;<span style="font-size:.8em;color:#a33600">&#60;30 sec ago&#62;</span></li>
                    <li class="update"><img src="{{ MEDIA_URL }}images/waht.png" width="25px" height="25px"><strong><span style="color:#bb6d21">Someone's Name</span></strong><br><span style="font-size:.9em">Updated a table on your canvas!</span>&#160;&#160;<span style="font-size:.8em;color:#a33600">&#60;2 mins ago&#62;</span></li>
                    <li class="update"><img src="{{ MEDIA_URL }}images/waht.png" width="25px" height="25px"><strong><span style="color:#bb6d21">Someone's Name</span></strong><br><span style="font-size:.9em">Updated a table on your canvas!</span>&#160;&#160;<span style="font-size:.8em;color:#a33600">&#60;10 mins ago&#62;</span></li>
                    <li class="update"><img src="{{ MEDIA_URL }}images/waht.png" width="25px" height="25px"><strong><span style="color:#bb6d21">Someone's Name</span></strong><br><span style="font-size:.9em">Updated a table on your canvas!</span>&#160;&#160;<span style="font-size:.8em;color:#a33600">&#60;32 mins ago&#62;</span></li>
                    <li class="update"><img src="{{ MEDIA_URL }}images/waht.png" width="25px" height="25px"><strong><span style="color:#bb6d21">Someone's Name</span></strong><br><span style="font-size:.9em">Updated a table on your canvas!</span>&#160;&#160;<span style="font-size:.8em;color:#a33600">&#60;47 mins ago&#62;</span></li>
					<li class="updateLast"><a href="#">More Updates>></a></li>
                </ul>

        </ul>
    </section>
    
        	<script type="text/javascript">
		$(document).ready(function() {
			$('.nsub').hide(); // hide sub-navigation items by default
			
			$('.nitem a').live('click', function(e){
				e.preventDefault();
				$(this).parent().next('.nsub').slideToggle('slow');
				
				if($(this).parent().next('.nsub').is(':hidden')) {
                    $(this).addClass("CurrentlySelected");
                } else {
                    $(this).removeClass("CurrentlySelected");
                }
			});
		});
	</script>

        
          </div>   <!-- end slideoutMenu -->
          
		</div> <!-- end coLeftHeader -->
	</div>		<!-- end updateCol-->


<div id="content">
	
	<div id="canvas">
<div id="drawingBox">
<script type="application/processing">	
    // All Examples Written by Casey Reas and Ben Fry  
    // unless otherwise stated.  
    void setup() {  
      size(200, 200); 
      background(0,0); 
      
    }  
    void setup2(width, height) {  
      size(width, height); 
      
    }  
      
    void draw() {  
      stroke(#000000);  
      strokeWeight(5);
      if(mousePressed) {  
        line(mouseX, mouseY, pmouseX, pmouseY);  
      }  
    }  
    void draw2() {  
      stroke(#f16600);  
      strokeWeight(4); 
    }  
    
    void clearDrawing() {
	background(0,0);
}

	void changeSize(width, height) {
	setup2(width, height);

}
</script>	

	<canvas id="testdrawcanvas"></canvas>  
		<div id="drawingTools">
			<input class="clickable" type="button" onclick="erase();" value="Clear the box" />
			<h4>Width:</h4>
				<input class="ptext" name="textboxW" type="text"/>
			<h4>Height:</h4>
				<input class="ptext" name="textboxH" type="text"/>
			<input class="clickable" name="buttonExecute" onclick="changeDrawingSize(document.getElementsByName('textboxW')[0].value, document.getElementsByName('textboxH')[0].value)" type="button" value="Change Size" />
			<h4>Paintbrush Color:</h4>
				<input class="ptext" name="textboxH" type="text"/>
				<input class="clickable" type="button" onclick="changeColor();" value="Change the color of the paintbrush" />
	</div>
</div>

    
  </div>  <!-- end canvas -->
 </div>  <!-- end content -->
 
 	<div id="rightfooter">

</div><!-- end rightfooter -->
 
</div> <!-- end rightCol -->
</div> <!-- end wrapper -->
{% endblock %}
