{% extends "base.html" %}


{% block title %}Projects for {{ request.user.username }}{% endblock %}


{% block content %}

    {% for project in projects %}


        {% for user in project.project_collaborators.all %}
            {{ user }}    {{request.user}}
        {% endfor %}

        {{ project.title }}
        {% if request.user == project.owner %}
            <a href="/project/{{ project.pk }}/edit/">Edit</a>
            <a class="project_delete" href="/project/{{ project.pk }}/delete/">Delete</a>
        {% endif %}
        {% if request.user in project.project_collaborators.all %}
            <a href="/canvas/create/">Create a canvas</a>
        {% endif %}

        <ul>
        {% for canvas in project.canvas_set.all %}

            {% if request.user in project.project_collaborators.all or request.user == canvas.owner %}

                <li>{{ canvas.title }} <a href="/canvas/{{ canvas.pk }}/edit/">Edit</a> <a class="canvas_delete" href="/canvas/{{ canvas.pk }}/delete/">Delete</a></li>
            {% else %}{% if request.user in canvas.collaborators.all %}
                <li>{{ canvas.title }}</li>
            {% endif %}{% endif %}

        {% endfor %}
        </ul>
        <br />

    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".canvas_delete").click(function(e) {
                e.preventDefault();
                if(confirm("Delete this canvas?")){
                    var link = $(this).attr("href");

                    $.get(link, function(data){
                        if(data){
                            alert("Successfully deleted the canvas.");
                            window.location.reload();
                        }else{
                            alert("Canvas not deleted");
                        }
                    });
                }
            });
            $(".project_delete").click(function(e) {
                e.preventDefault();
                if(confirm("Delete this project?")){
                    var link = $(this).attr("href");

                    $.get(link, function(data){
                        if(data){
                            alert("Successfully deleted the project.");
                            window.location.reload();
                        }else{
                            alert("Project not deleted");
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}
