{% extends "base.html" %}


{% block title %}{{ user.username }}{% endblock %}





{% block content %}
<h2>Profile for {{user.username}}</h2>

<table>
	<tr>
		<td>
			First Name
		</td>
		<td>
			{{user.first_name}}
		</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{user.last_name}}</td>
	</tr>
	<tr>
		<td>
			Email
		</td>
		<td>
			{{user.email}}
		</td>
		<tr>
			<td>Projects</td>
			<td>
				<ul>
					{% for project in projects %}
					<li><a href="/project/{{project.pk}}/">{{project.title}}</a></li>
					{% endfor %}
				</ul>
			</td>
		</tr>
	</tr>
	
</table>

{% endblock %}
