<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>mythoughtjot</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/draw.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.isotope.js'></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.isotope.min.js'></script>

    		  <script>
  $(document).ready(function() {
    $("#loginbox").draggable({ containment: 'parent' });
  });
  </script>

</head>
<body>

		<div id="mainheader">
			 <div id="headerLeft">

				<h1 id="title">mythoughtjot</h1>

			  </div>
		</div>

	<div id="logincontent">


	  <div id="loginbox">
		<form action="{% url django.contrib.auth.views.login %}" method="post" id="login-form" class="primary-col">{% csrf_token %}
			<div class="ltophead">
				<h2> Log In </h2>
			</div>
            {% if form.errors %}
                <br />
                {{ form.non_field_errors }}
            {% endif %}
			<div class="lbody">
				<label for="id_username"> Username </label>
				<input id="id_username" type="text" tabindex="1" autocapitalize="off" spellcheck="false" autocorrect="off" autocomplete="off" value="" name="username">
				<label for="id_password"> Password </label>
				<input id="id_password" type="password" tabindex="2" name="password">
				<a class="right" tabindex="4" style="margin: 10px 0 0;" href="{% url auth_password_reset %}">Forgot your password?</a>
				<input class="primary" type="submit" tabindex="3" value="Log In">
			<p class="clear">
			New here?
			<a href="/register?returnUrl=/">
			<strong>Create an Account.</strong>
			</a>
			</p>
			<input type="hidden" value="/" name="returnUrl">
		</form>
		<form class="secondary-col clearfix" method="post" action="/authenticate_openid">
			<label> Or log in with: </label>
			<input type="hidden" value="https://www.google.com/accounts/o8/id" name="openid_identifier">
			<input class="primary" type="submit" value="Google Account">
			<input type="hidden" value="/" name="returnUrl">
		</form>
		</div>
	  </div> <!-- loginbox -->
	 </div> <!-- end login box -->
	<div id="footer">
	<span><a href="www.mythoughtjot.com">mythoughtjot.com</a></span>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
</div>
</body>
</html>